name: Build and Deploy to Azure Container Registry
on:
  push:
    branches:
      - master

env:
  REGISTRY: raysoncontainerregistry.azurecr.io
  IMAGE_NAME: raysondev
  TAG: ${{ github.sha }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Build the application
      run: dotnet build Rayson.Dev/Rayson.Dev.Website/Rayson.Dev.Website.csproj -c Release

    - name: Publish the application
      run: dotnet publish Rayson.Dev/Rayson.Dev.Website/Rayson.Dev.Website.csproj -c Release -o ./publish

    - name: Log in to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ env.REGISTRY }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: ./Rayson.Dev/Rayson.Dev.Website/
        push: true
        tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}

    - name: Deploy the Docker container to Azure Web App for Containers
      uses: azure/webapps-container-deploy@v1
      with:
        app-name: raysondev
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
